*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.navegacao {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
    margin-top: -2.5rem;
    padding-left: 50rem;
    font-family: 'Montserrat';
    font-size: 30px;
    color: darkgrey;
}
.menu{
    margin-left: 70px;
}
.portifolio{
    color: black;
}
.baneer{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    margin-left: 0rem;
}
.laranja{
    width: 100%;
    height: 40%;
}
.tema{
    margin-top: -22rem;
    margin-left: 5rem;
    font-family: 'Montserrat';
    font-size: 78px;
    color: #FFFFFF;
}
.contato {
    width: 294px;
    height: 43px;
    margin-top: 2rem;
    margin-left: 5rem;
    font-family: 'Montserrat';
    opacity: 70%;
    font-size: 35px;
    color: #FFFFFF;
}
.caixa-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 18rem;
}
.imagem1{
    width: 20rem;
    height: 18rem;
}
.caixa-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.imagem2{
    width: 20rem;
    height: 18rem;
}
.caixa-3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.imagem3{
    width: 20rem;
    height: 18rem;
}
.rodape{
    width: 1800px;
    height: 123px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-left: 0.7rem;
}
.caixa-rodape{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-left: 0.7rem;
}
.imagem4{
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
.copy {
    margin-top: 0.3rem;
    margin-right: 50px;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 20px;
    opacity: 1;
    }
    .layout{
        width: 30rem;
        margin-top: 0.2rem;
        margin-right: 16rem;
        font-family: 'Montserrat';
        font-size: 15px;
        color: grey;
        opacity: 1;
    }
    .ref{
        width: 30rem;
        margin-top: 0.2rem;
        margin-right: 16rem;
        font-family: 'Montserrat';
        font-size: 15px;
        color: grey;
        opacity: 1;
        }